html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); */
  background-size: 100%;
  background-position: bottom;
  min-height: 100%;
  background-color: #2D283E;
  color: white;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* form {
  background-color: rgb(103, 138, 33);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
} */